.video__screen{
    width: 100%;
    margin: 10px;
    display: flex;
    align-items: center;
    
}
.remote__video{
    width: 70vw;
    height: 60vh;
    object-fit: contain;
    margin: 20px;
    position: relative;
}
.local__video{
    background-color: black;
    position: absolute;
    bottom: 0;
    right: 0;
    margin: 20px;
    height: 20vh;


}